<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.przypominajka">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".utils.MyPrzypominajkaApp"
        android:icon="@mipmap/ic_przypominajka"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_przypominajka_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.RemoteBackupSettings"
            android:label="Ustawienia kopii Dysku Google"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LocalBackupSettings"
            android:label="Ustawienia kopii lokalnej"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.SetAlarmService"
            android:label="Notify service"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activities.EventDetailsActivity"
            android:label="@string/event_details"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddNewEventActivity"
            android:label="@string/add_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".utils.ReminderBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
    </application>

</manifest>